.navbar {
    display: block;
}

.navbar .absolute {
    position: absolute;
}

.navbar_principal {
    transition: height 4s;
    list-style: none;
    display: flexbox;
    margin: 5px;
    padding: 0;
    justify-content: center;
}

.nav_principal_off {
    height: 0px;
    list-style: none;
    margin: 5px;
    padding: 0;
    justify-content: center;
    overflow: hidden;
}